@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var db = WebMatrix.Data.Database.Open("dbBancoPIM");
    var crianca = db.Query(@"select c.idMatricula 'Matricula', c.dtNascimento 'dtNasc' , c.dtMatricula 'dtMatricula', r.nome 'nomeResp', c.nome 'nomeCrianca', s.nome 'nomeSala', t.periodo 'nomePeriodo', c.sexo 'sexo', c.Observacoes 'obs'
                             from Crianca c left join Responsavel r
                             on c.cpfResponsavel = r.cpf left join Sala s
                             on c.idSala = s.idSala left join Turma t
                             on c.idTurma = t.idTurma");
    db.Close();

    if (IsPost)
    { 
        <!--Dados da Criança-->
        string idMatricula = Request.Form["textMatricula"];
        string cpfResponsavel = Request.Form["textCpf"];
        string nome = Request.Form["textNomeCrianca"];
        DateTime dtNascimento = Request.Form["dtNascimento"].AsDateTime();
        DateTime dataMatricula = DateTime.Today;
        string sexo = Request.Form["opRadio"];
        string observacoes = Request.Form["taObs"];
        decimal idTurma = Request.Form["sTurma"].AsDecimal();
        decimal idSala = Request.Form["sSala"].AsDecimal();

        <!--Pesquisar sobre validação de formulario-->
        db.Execute(@"UPDATE Crianca SET nome=@0, sexo=@1, dtNascimento=@2, dtMatricula=@3, observacoes=@4, idTurma=@5, idSala=@6, cpfResponsavel=@7 WHERE idMatricula=@8", nome, sexo, dtNascimento, dataMatricula, observacoes, idTurma, idSala, cpfResponsavel, idMatricula);

        Response.Redirect("~/Views/Crianca/PesquisaCrianca.cshtml");
        db.Close();

    }
}

<h3 class="text-center">Crianças Cadastradas</h3>
<p></p><br />
<form method="post">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <input type="text" name="txtBuscar" class="form-control" placeholder="Pesquisar" />
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-primary" />
        </div>
    </div>
    <p></p><br />
    <hr />
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Sala</th>
            <th>Turma</th>
            <th>Responsável</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in crianca)
            {
            <tr>
                <td>@c.Matricula</td>
                <td>@c.nomeCrianca</td>
                <td>@c.nomeSala</td>
                <td>@c.nomePeriodo</td>
                <td>@c.nomeResp</td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-success btnDetalhes text-center" data-value="@c.Matricula"><span class="glyphicon glyphicon glyphicon-list-alt"></span> Ficha</button>
                    <button type="button" class="btn btn-sm btn-danger btn-excluir text-center" data-excluir="@c.Matricula"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="conteudoModal">
                        <!--RenderModal-->
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".btnDetalhes").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Views/Crianca/FichaCrianca.cshtml?matricula=" + id,
                    function () {
                        $('#myModal').modal('show')
                    });
            });

            $(".btn-excluir").click(function () {
                var id = $(this).data("excluir");
                $("#conteudoModal").load("/Views/Crianca/DeleteCrianca.cshtml?matricula=" + id,
                    function () {
                        $('#myModal').modal('show')
                    });
            });
        });
    </script>
}